@keyframes scaling {
  from {
	transform: scale(1);
  }
  to {
	transform: scale(1.25);
  }
}

.like-icon.is-liked .sparks {
  animation: sparking 0.3s 0.3s 1 ease-in;
}

@keyframes sparking {
  from {
	opacity: 0;
  }
  to {
	opacity: 1;
  }
}

.contour {
  fill: var(--heart-contour);
  transition: 0.1s linear 0s;
}

.main-body {
  fill: #fff;
  opacity: 0;
  transition:  0.3s 0.05s;

}

.core {
  opacity: 0;
  fill: none;
  transition:  0.3s 0.03s;

}

.sparks {
  opacity: 0;
  fill: var(--heart-fill)
}

.card__icon-button:hover .core {
  fill: var(--heart-hover-fill);
  opacity: 1;
  transition: opacity 0.3s 0s;
}
.card__icon-button:hover .main-body {
  opacity: 1;
  fill: var(--heart-hover-fill);
  transition: opacity 0.3s 0.05s;
}

.card__icon-button:active .core {
  fill: var(--heart-fill);
  opacity: 1;
  transition: opacity 0.3s 0s;
}

.card__icon-button:active .main-body {
  fill: var(--heart-fill);
  opacity: 1;
  transition: opacity 0.3s 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-fill);
  opacity: 1;
  transition: opacity 0.3s 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-fill);
  opacity: 1;
  transition: opacity 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill);
  opacity: 1;
  transition:  0.3s 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center center;
  animation: scaling 0.3s 0.1s 1 ease-in;
}