
.page {
  position: relative;
  margin: 0 auto;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  max-inline-size: 700px;
  inline-size: 100vw;
  min-block-size: 100dvb;
}

.content {
  background: var(--background-color);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 109px;
  margin-bottom: 102px;
  border: var(--border);
  padding: 18.28% 17.14%;
}

.header__logo {
  padding-bottom: 20px;
  font-family: var(--accent-font-family), sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.header__title {
  font-family: var(--accent-font-family), sans-serif;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-transform: uppercase;
  text-wrap: nowrap;
}

.card {
  margin-bottom: 50px;
  border: var(--border);
}

.card__title {
  padding: 4px 10px;
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.card__wrap {
  position: relative;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--accent-font-family), sans-serif;
  font-size: var(--font-size-s);
  text-shadow: var(--text-shadow);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .card__label {
	-webkit-text-stroke: 1px #fff;
	text-shadow: none;
  }
}

.card__article {
  padding: 26px 25px 27px 25px;
  font-size: var(--font-size-m);
  line-height: 1.17;
  text-shadow: var(--text-shadow-decor);
}

.card__text:not(:last-child) {
  padding-bottom: 27px;
}

.card__button {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 27px;
  padding-bottom: 23px
}

.card__image {
  position: relative;
  width: 100%;
  min-inline-size: 320px;
  max-inline-size: 700px;
}

.button {
  border: none;
  outline: var(--border);
  font-family: var(--accent-font-family), sans-serif;
  font-size: var(--font-size-s);
  background: transparent;
  cursor: pointer;
}

.card__icon-button {
  margin-right: 3px;
  border: none;
  outline: none;
}

.card__icon-button:focus {
  border: none;
  outline: none;
}

.card__icon-button:focus-visible {
  border: none;
  outline: var(--border);
  outline-offset: -2px;
}

.card__like-button {
  position: relative;
  display: inline-block;
  width: 126px;
  height: 34px;
  padding: 0;
}

.card__like-button:focus-visible {
  box-shadow: var(--box-shadow);
}

.card__like-button::after {
  content: '';
  position: absolute;
  inset: 0 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.card__like-button:hover::after {
  transform: scaleX(1);
}

.footer {
  margin: 52px auto 105px;
  max-inline-size: 337px;
}

.footer__button {
  position: relative;
  display: flex;
  align-items: center;
  height: 51px;
  padding: 18.5px 21px 18.5px 19px;
  line-height: 90%;
}

.footer__button::after {
  content: '';
  position: absolute;
  inset: 0 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.footer__button:hover::after {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
}

.footer__text {
  position: relative;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
}

.footer__button:focus-visible {
  box-shadow: var(--box-shadow);
}

.footer__floppy {
  position: relative;
  z-index: 1;
  display: block;
  flex: 0 0 auto;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  stroke: var(--color-stroke);
  mix-blend-mode: difference;
}

.sprint_number-4 {
  position: relative;
}

.dialog {
  position: fixed;
  inset: 0 0;
  z-index: 1;
  display: grid;
  width: 359px;
  height: 192px;
  padding: 30px;
  overflow: hidden;
  font-family: var(--accent-font-family), sans-serif;
  transition: opacity 0.3s ease-in-out;
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__text {
  font-size: var(--font-size-s);
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__floppy {
  display: inline-block;
  flex: 0 0 auto;
}

.dialog__button {
  width: 293px;
  height: 36px;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (width <= 375px) {
  .header {
	margin-top: 100px;
	padding: 120px 14px;
  }

  .card__label {
	right: 13px;
  }

  .footer__button {
	flex-direction: column;
	gap: 5px;
	width: 306px;
	height: 80px;
  }

  .footer__floppy {
	width: 28px;
	height: 28px;
  }

  .dialog {
	width: 341px;
  }

  .dialog__button {
	width: 257px;
  }
}

.card-image-back_flip {
  filter: saturate(115%);
}

.card__image-pool-of-money {
  filter: contrast(130%);
}

.card__image-monkey {
  filter: brightness(80%);
}

.card__image-cat {
  filter: grayscale(50%);
}

.card__image-green-code {
  filter: blur(2px);
}

.card__image-dog {
  filter: hue-rotate(150deg);
}

.card__image-coffee {
  filter: invert(10%);
}

.card__image-laptop {
  filter: opacity(90%) brightness(90%);
}








